# Server info
BASE_URL=http://localhost:3000
PORT=3000

# Mongo user credentials
DB_USER=simpleuser
DB_PASS=9PkGtB2fZWAddWrh

# Redis container
REDIS_HOST=localhost
REDIS_PORT=3333

# Swagger
SWAGGER_API_ROOT=swagger
SWAGGER_API_NAME=URL Shortener API
SWAGGER_API_DESCRIPTION=URL Shortener API Description
SWAGGER_API_VERSION=1.0
